.item {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgb(93, 92, 92);
}
.item:hover {
  cursor: pointer;
}
.item:not(:last-child){
  margin-right: 5px;
}
.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.online {
  composes: indicator;
  background-color: green;
}
.offline {
  composes: indicator;
  background-color: red;
}
.name {
  font-size: 20px;
  font-weight: 800;
}
.avatar {
  padding-left: 5px;
  padding-right: 5px;
}